!gradle-wrapper.jar
/.gradle
out/
build/
test-output/
/email.txt
*.class
*.swp
*.swo
*.iml
*.hprof

.DS_Store
.env
.validation.json
report.html
.questioner.yaml
.question.json
/local.properties
/.kotlin
